<?xml version="1.0" encoding="UTF-8"?>
<Server version="8">
  <Name>Kurasikapa Live Origin</Name>
  <Type>origin</Type>
  <IP>*</IP>
  <PrivacyProtection>true</PrivacyProtection>
  <StunServer>stun.ovenmediaengine.com:13478</StunServer>
  <Modules>
    <HTTP2><Enable>true</Enable></HTTP2>
    <LLHLS><Enable>true</Enable></LLHLS>
    <P2P><Enable>false</Enable></P2P>
  </Modules>
  <Bind>
    <Managers>
      <API><Port>8081</Port><WorkerCount>1</WorkerCount></API>
    </Managers>
    <Providers>
      <RTMP><Port>1935</Port><WorkerCount>1</WorkerCount><ThreadPerSocket>false</ThreadPerSocket></RTMP>
    </Providers>
    <Publishers>
      <LLHLS><Port>3333</Port><WorkerCount>4</WorkerCount></LLHLS>
    </Publishers>
  </Bind>
  <Managers>
    <Host><Names><Name>*</Name></Names></Host>
    <API>
      <AccessToken>${env:OME_API_TOKEN}</AccessToken>
      <CrossDomains><Url>https://studio.kurasikapa.tv</Url></CrossDomains>
    </API>
  </Managers>
  <VirtualHosts>
    <VirtualHost>
      <Name>default</Name>
      <Host><Names><Name>*</Name></Names></Host>
      <SignedPolicy>
        <PolicyQueryKeyName>policy</PolicyQueryKeyName>
        <SignatureQueryKeyName>signature</SignatureQueryKeyName>
        <SecretKey>${env:OME_SIGNING_SECRET}</SecretKey>
        <Enables><Providers>rtmp</Providers></Enables>
      </SignedPolicy>
      <Applications>
        <Application>
          <Name>app</Name>
          <Type>live</Type>
          <OutputProfiles>
            <OutputProfile>
              <Name>adaptive</Name>
              <OutputStreamName>${OriginStreamName}</OutputStreamName>
              <Playlist>
                <Name>master</Name><FileName>master</FileName>
                <Options><WebRtcAutoAbr>true</WebRtcAutoAbr><HLSChunklistPathDepth>0</HLSChunklistPathDepth></Options>
                <Rendition><Name>720p</Name><Video>h264_720</Video><Audio>aac</Audio></Rendition>
                <Rendition><Name>480p</Name><Video>h264_480</Video><Audio>aac</Audio></Rendition>
                <Rendition><Name>360p</Name><Video>h264_360</Video><Audio>aac</Audio></Rendition>
              </Playlist>
              <Encodes>
                <Video><Name>h264_720</Name><Codec>h264</Codec><Bitrate>2500000</Bitrate><Framerate>30</Framerate><Width>1280</Width><Height>720</Height><Preset>faster</Preset></Video>
                <Video><Name>h264_480</Name><Codec>h264</Codec><Bitrate>1200000</Bitrate><Framerate>30</Framerate><Width>854</Width><Height>480</Height><Preset>faster</Preset></Video>
                <Video><Name>h264_360</Name><Codec>h264</Codec><Bitrate>650000</Bitrate><Framerate>30</Framerate><Width>640</Width><Height>360</Height><Preset>faster</Preset></Video>
                <Audio><Name>aac</Name><Codec>aac</Codec><Bitrate>128000</Bitrate><Samplerate>48000</Samplerate><Channel>2</Channel></Audio>
              </Encodes>
            </OutputProfile>
          </OutputProfiles>
          <Providers><RTMP><BlockDuplicateStreamName>true</BlockDuplicateStreamName></RTMP></Providers>
          <Publishers>
            <LLHLS><ChunkDuration>0.5</ChunkDuration><SegmentDuration>6</SegmentDuration><SegmentCount>10</SegmentCount><CrossDomains><Url>https://kurasikapa.tv</Url><Url>https://www.kurasikapa.tv</Url></CrossDomains></LLHLS>
            <FILE><RootPath>/var/lib/kurasikapa/recordings</RootPath><FilePath>/${Stream}/${StartTime:YYYYMMDDhhmmss}_${EndTime:YYYYMMDDhhmmss}.mp4</FilePath><InfoPath>/${Stream}/${StartTime:YYYYMMDDhhmmss}.xml</InfoPath></FILE>
          </Publishers>
        </Application>
      </Applications>
    </VirtualHost>
  </VirtualHosts>
</Server>
